
@import url(variables.css);

body{
margin:0;
font-family: Arial;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background: var(--fondo);
padding:10px 40px;
color:white;
}

.logo{
font-size:24px;
font-weight:bold;
}

.menu{
list-style:none;
display:flex;
gap:30px;
}

.menu li{
position:relative;
}

.menu a{
color:var(--letra_nav);
text-decoration:none;
padding:10px;
display:block;
}

/* submenu */
.submenu{
display:none;
position:absolute;
top:40px;
left:0;
background:rgb(3, 32, 149);
color:var(--letra_nav);
list-style:none;
padding:0;
width:200px;
}

.submenu li a{
color:rgb(255, 255, 255);
}

/* subsubmenu */
.submenu2{
display:none;
position:absolute;
top:0;
left:200px;
background:rgb(14, 1, 118);
list-style:none;
padding:0;
width:200px;
}

/* hover */
.dropdown:hover .submenu{
display:block;
}

.dropdown2:hover .submenu2{
display:block;
}

.submenu li:hover{
background:#008000;
color:white;
}