body{
margin:0;
font-family: Arial;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#4c39d4;
padding:10px 40px;
color:white;
}

.logo{
font-size:24px;
font-weight:bold;
}

.menu{
list-style:none;
display:flex;
gap:30px;
}

.menu li{
position:relative;
}

.menu a{
color:white;
text-decoration:none;
padding:10px;
display:block;
}

/* submenu */
.submenu{
display:none;
position:absolute;
top:40px;
left:0;
background:white;
color:black;
list-style:none;
padding:0;
width:200px;
}

.submenu li a{
color:black;
}

/* subsubmenu */
.submenu2{
display:none;
position:absolute;
top:0;
left:200px;
background:white;
list-style:none;
padding:0;
width:200px;
}

/* hover */
.dropdown:hover .submenu{
display:block;
}

.dropdown2:hover .submenu2{
display:block;
}

.submenu li:hover{
background:#008000;
color:white;
}